---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import BlogCardBig from '../../components/BlogCardBig.astro';
import SearchBar from "../../components/SearchBar/SearchBar.jsx"

let posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
// filter posts by searchterm if no query is provided return all posteos
const { search }  = Astro.params;

if (search) {
  const filteredPosts = posts.filter((post) => post.data.title.includes(search) || post.data.tags.includes(search));
  posts = filteredPosts;
}
---

<BaseLayout title="Blog">
  <section >
  <div id="search"></div>
    <h3>Ultimos posteos</h3>
    <ul >
      {
        posts.map((post) => (
          <BlogCardBig post={post} />
        ))
        }
    </ul>
</BaseLayout>

<style>
  section {
    animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>


<script>
function initPagefind() {
  if (!document.querySelector("#search")) {
    return;
  }
  new PagefindUI({
    element: "#search",
    showSubResults: true,
    resetStyles: true,
    showEmptyFilters: true
  });
}

// Listen for Astro view transition events
document.addEventListener('astro:afterload', initPagefind); // Astro-specific event
window.addEventListener('DOMContentLoaded', initPagefind); // Initial load

</script>
