
---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogCardSmall from '../../components/BlogCardSmall.astro';
import { getCollection } from 'astro:content';


export async function getStaticPaths() {
  const posts = await getCollection('blog');

  const tags = Array.from(new Set(posts.map((post) => post.data.tags).flat()));

  return tags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayout>
<h2>Entradas para: <span>{tag}</span></h1>
  <ul>
    {
      posts.map((post) => (
      <BlogCardSmall  post={post} />
      ))
    }
  </ul>
</BaseLayout>

