---
import { Image } from "astro:assets";
import FormattedDate from './FormattedDate.astro';
import BlogCardBig from './BlogCardBig.astro';

const { post } = Astro.props;
---


<li client:visible>
  <a href={`/blog/${post.slug}/`}>
    <Image class="hero-image" width={720} height={360} src={post.data.heroImage} alt="" />
    <h4 class="title">{post.data.title}</h4>
    <p class="date">
    <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</li>


<style>
  .hero-image:hover {
    box-shadow: var(--box-shadow);
  }
  li{
    animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
