---
import PostCards from './PostCards.astro';
import { getCollection } from 'astro:content';


let posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 3);
---

<div id="keep-reading">
    <h5>Leer más</h5>
    <ul>
      {
      posts.map((post) => (
      <PostCards post={post} />
      ))
      }
    </ul>
</div>



<style>
    #keep-reading{
      width: 100%;
      letter-spacing: 0.5px;
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    h5{
      padding-block: 30px;
    }
    @media (max-width: 1450px){
      #keep-reading{
        /* display:none; */
        position: static;
        max-height: max-content;
        width: inherit;
      }
    }
</style>
