---
const { tag, pad } = Astro.props;
---

<li>
  <a href={`/tags/${tag}`}>{tag}</a>
</li>



<style define:vars={{pad}}>
  li {
    display: inline-block;
    background-color: var(--accent);
    padding: var(--pad);
    border-radius: 0.4em;
    transition: 0.2s ease;
  }
  li:hover{
    box-shadow: var(--box-shadow);
  }
  a {
    color: var(--accent-darker);
    text-decoration: none;
  }
  li:hover a{
    color: var(--gray-light);
  }
</style>
