---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PodcastSmall from '../components/PodcastSmall.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { fade, slide } from "astro:transitions" ;

const title = Astro.props.title 
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Netlify Identity Widget -->
      <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
    <main >
      <h1 transition:animate={slide({duration: 300, easing: "ease-in-out"})}>{title}</h1>
      <slot transition:animate={fade({duration: 300, easing: "ease-in-out"})}/>
		</main>
		<Footer />
	</body>
</html>


<style>
@supports (background-clip: text) and (background: linear-gradient(to bottom, white, 70%, var(--accent))) {
  h1 {
    background: linear-gradient(to bottom , white, 70%, var(--accent) );
    background-clip: text;
    color: transparent;
  }
</style>


